.story-item {
  margin-bottom: 1rem;
  padding-left: 0.5rem;

  &__hostname {
    display: inline-block;
    color: color(dark-gray, dark);
    margin-left: 0.5rem;
  }

  &__title {
    margin-bottom: 5px;

    > a {
      font-size: 1.1rem;
    }
  }

  &__meta {
    color: color(dark-gray, dark);
  }

  &__comment-link {
    display: inline-block;
    margin-left: 0.5rem;
    color: color(dark-gray, dark);

    &:hover {
      text-decoration-color: color(dark-gray, dark);
    }
  }
}
