.comment {
  padding: 0 1rem;
  border-left: 3px solid transparent;
  background: $dark-bg;

  &__meta {
    color: white;
    margin-bottom: 10px;
    margin-top: 1rem;
    padding: 1rem 0;
  }

  &__content {
    padding-bottom: 1rem;
    color: white;

    p {
      margin-bottom: 0;
    }

    a {
      color: #FD7272;
    }
  }

  &-0 {
    border-color: #FD7272;
    .comment__author {
      color: #FD7272;
    }
  }

  &-1 {
    border-color: #1B9CFC;
    .comment__author {
      color: #1B9CFC;
    }
  }

  &-2 {
    border-color: #58B19F;
    .comment__author {
      color: #58B19F;
    }
  }

  &-3 {
    border-color: #D6A2E8;

    .comment__author {
      color: #D6A2E8;
    }
  }

  &-4 {
    border-color: #FEA47F;

    .comment__author {
      color: #FEA47F;
    }
  }

  &-5 {
    border-color: #f5009a;

    .comment__author {
      color: #f5009a;
    }
  }

  &-6 {
    border-color: #BDC581;

    .comment__author {
      color: #BDC581;
    }
  }

  &-7 {
    border-color: #F8EFBA;

    .comment__author {
      color: #F8EFBA;
    }
  }

  &-8 {
    border-color: #82589F;

    .comment__author {
      color: #82589F;
    }
  }

  &-9 {
    border-color: #9AECDB;

    .comment__author {
      color: #9AECDB;
    }
  }
}
