* {
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  background: black;
}

html, body, #app, .app-container {
  width: 100%;
  height: 100%;
  font-size: ms(0);
}

p {
  font-size: m(0);
}

h1 {
  font-size: ms(4);
}

h2 {
  font-size: ms(3);
}

h3 {
  font-size: ms(2);
}

h4 {
  font-size: ms(1);
}

small {
  font-size: ms(-1);
}
